<h1>GIMMIE A NUMBER ANY NUMBER<h1>

<form action="/converted_word">
  <div class="form-group">
    <label id="number_to_convert">PUT YR # RITE HERE BUDDY</label>
      <input id="number_to_convert" name="number_to_convert" class="form-control" type="text">
  </div>
  <button id="submit" class="btn-success">Submit</button>
</form>
